.left-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 10px;
    font-size: 20px;
}

.left-item {
    font-family: "Playfair Display", serif;
    padding-left: 5px;
    cursor: pointer;
    font-weight: 1;
}

.left-item:hover {
    font-weight: bold;
}